{% extends "app/base.html" %}
{% block content %}
	<h3>Eliminar una empresa de {{ empresa.nombre }}</h3>
	{% if message %}
		<p><strong>{{ message }}</strong></p>
	{% else %}

		{% if lista_calificaciones %}
			<form action="{% url 'eliminar_calificacion' empresa.id%}" method="post">
			{% csrf_token %}
			{% for calificacion in lista_calificaciones %}
				 <input type="radio" name="calif" id="calificacion{{ forloop.counter }}" value="{{ calificacion.id }}" />
				<label for="calificacion{{ forloop.counter }}">{{ calificacion.calificacion }} - {{ calificacion.alumno }}</label><br />
				<br />
			{% endfor %}
			<input type="submit" value="Eliminar" />
			</form>
			{% else %}
				<p>No hay calificaciones para esta empresa.</p>
			{% endif %}
	{% endif %}
{% endblock %}

